body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 42px;
}
.search-box{
    margin: 100px 0px 0px 100px;
    background: center / contain no-repeat url("../../media/examples/firefox-logo.svg"),
    #eee 35% url("../../media/examples/lizard.png");
    width: 270px;
    height: 50px;padding: 25px 0px 0px 20px;

}
#text{
    width: 200px;
    height: 20px;
    color: gainsboro;
    border-radius: 10px;
}
#submit{
    border:burlywood;
    width: 50px;
    height: 24px;
    background: #b9b9b9;
    cursor: pointer;
    border: 2px solid black;
    text-decoration-color: brown;
}
#submit:hover
{
    background: #9d226d;
    color: #ffffff;
    opacity: 0.8;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,yellow);
    border-radius: 10px;
    padding: 2px 15px;
    color: blue;
    font-weight: 800;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.half-width{
    width:60%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#my-recipie{
    text-align: center;
    text-emphasis-position: centre;
}
.recipie-title{
    width: 33%;
    border: 3px solid;
    border-color: chartreuse;
    float: left;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px;
}
,.recipie-title{
    width: 80%;
}
.image{
    width: 80%;
    object-position: (50% 50%);
    margin-top: 35px;
    margin-left: 30px;
}
#my-recipie{
    align-content: center;
    border-radius: 10px;
}
.pre-footer{
    width: 33%;
    border:none;
    text-align: center;
}
footer{
    text-align: center;
    background-color: #82eeaf;
}
